<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="RootFolder" value="\\MURALI\iConnect\RSC\DailyDataLoad"/>
		<add key="LogsFolder" value="D:\DailyDataLoad\Logs"/>
	</appSettings>
	<connectionStrings>
		<add name="kiranRSCConnectionString" connectionString="Server=192.168.29.130;Database=RSC;User Id = iconnectuser; Password=iconnect;"/>
	</connectionStrings>
</configuration>