
@{

	ViewData["Title"] = "SupplierList";
	Layout = "~/Views/Shared/_RMSLayout.cshtml";
}


<div class="container">
<div class="justify-content-between align-items-center">
	@* <h3 class="text-primary">Stores - </h3> *@
	<hr class="mt-0" />
	<h4 class="text-secondary">Suppliers/Search Supplier</h4>
</div>

	<form method="post" asp-action="SupplierList" asp-controller="Supplier">
	<div class="card shadow-sm p-2">
		<div class="row g-3">
			<div class="col-sm-5 mr-1 px-2">
				<label for="SupplierName" class="form-label">SupplierName</label>
				<input type="text" class="form-control" id="SupplierName" name="SupplierName" placeholder="Enter SupplierName">
			</div>
			<div class="col-sm-5 mr-1 px-2">
				<label for="CompanyName" class="form-label">CompanyName</label>
				<input type="text" class="form-control" id="CompanyName" name="CompanyName" placeholder="Enter CompanyName">
			</div>
			<div class="col-sm-5 mr-1 px-2">
				<label for="PhoneNumber" class="form-label">PhoneNumber</label>
				<input type="text" class="form-control" id="PhoneNumber" name="PhoneNumber" placeholder="Enter PhoneNumber">
			</div>
			
			
		</div>
	</div>
	<div class="d-flex justify-content-end gap-2 mt-3">
		<button type="reset" class="btn btn-reset"><i class="bi bi-arrow-counterclockwise"></i> Clear</button>
		<button type="submit" class="btn btn-success"><i class="bi bi-search"></i> Search</button>
		<a class="btn btn-info" asp-action="AddNewSupplier" asp-controller="Supplier">
			<i class="bi bi-plus-circle"></i> Add New Supplier
		</a>
	</div>

</form>
@* <hr class="mt-0" /> *@
<div class="table-responsive mt-2 p-2">
	<table class="table table-bordered table-hover shadow-sm">
		<thead class="table-dark">
			<tr>
				<th scope="col">S.NO</th>
				<th scope="col">SupplierName</th>
				<th scope="col">CompanyName</th>
				<th scope="col">Address</th>
				<th scope="col">City</th>
				<th scope="col">State</th>
				<th scope="col">Status</th>
				<th scope="col" class="text-center">Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>YuvaKumar</td>
				<td>BharatTransports</td>
				<td>Kanipuram</td>
				<td>Chennai</td>
				<td>TamilNadu</td>
				<td><a href="#" class="text-danger">Inactivate</a></td>
				<td class="text-center">
						<a asp-controller="Supplier" asp-action="EditSupplier" class="btn btn-sm btn-warning">Edit</a>
						<a asp-controller="Supplier" asp-action="ViewSupplier" class="btn btn-sm btn-info">View</a>
				</td>
			</tr>
			<tr>
				<td>2</td>
				<td>Sai</td>
				<td>Patel Pippes</td>
				<td>SrNagar</td>
				<td>Hyderabad</td>
				<td>Telangana</td>
				<td><a href="#" class="text-success">Activate</a></td>
				<td class="text-center">
						<a asp-controller="Supplier" asp-action="EditSupplier" class="btn btn-sm btn-warning">Edit</a>
						<a asp-controller="Supplier" asp-action="ViewSupplier" class="btn btn-sm btn-info">View</a>
				</td>
			</tr>
			<tr>
				<td>3</td>
				<td>kiran</td>
				<td>Kiran Imports and Exports</td>
				<td>Ammerpet</td>
				<td>Hyderabad</td>
				<td>Telangana</td>
				<td><a href="#" class="text-danger">Inactivate</a></td>
				<td class="text-center">
						<a asp-controller="Supplier" asp-action="EditSupplier" class="btn btn-sm btn-warning">Edit</a>
						<a asp-controller="Supplier" asp-action="ViewSupplier" class="btn btn-sm btn-info">View</a>
				</td>
			</tr>
			<tr>
				<td>4</td>
				<td>Vijay</td>
				<td>Palem Naturals</td>
				<td>Kondapur</td>
				<td>Hyderabad</td>
				<td>Telangana</td>
				<td><a href="#" class="text-danger">Inactivate</a></td>
				<td class="text-center">
						<a asp-controller="Supplier" asp-action="EditSupplier" class="btn btn-sm btn-warning">Edit</a>
						<a asp-controller="Supplier" asp-action="ViewSupplier" class="btn btn-sm btn-info">View</a>
				</td>
			</tr>
			<tr>
				<td>5</td>
				<td>Venkatesh</td>
				<td>Venkat Computers</td>
				<td>Kesamudram</td>
				<td>Warangal</td>
				<td>Telangana</td>
				<td><a href="#" class="text-danger">Inactivate</a></td>
				<td class="text-center">
						<a asp-controller="Supplier" asp-action="EditSupplier" class="btn btn-sm btn-warning">Edit</a>
						<a asp-controller="Supplier" asp-action="ViewSupplier" class="btn btn-sm btn-info">View</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
</div>

