
@{
    ViewData["Title"] = "ViewSupplier";
    Layout = "~/Views/Shared/_RMSLayout.cshtml";

}

<div class="container-fluid pt-4 px-4">
    <div class="row vh-100 justify-content-center mx-0">
        <div class="col-md-6 text-center">
            <div class="row g-3">
                <form class="form-horizontal">
                    <div class="row rounded mt-5">
                        <div class="col-12  justify-content-center mb-3">
                            <h3>
                                View Supplier Details
                            </h3>
                        </div>
                        <div class="col-6  text-end mb-3">
                            <label for="Zip" class="">FirstName:</label>
                        </div>
                        <div class="col-6  text-start">
                            <label for="Zip" class=""> xxxxx</label>
                        </div>
                        <div class="col-6  text-end mb-3">
                            <label for="Zip" class="">Last Name:</label>
                        </div>
                        <div class="col-6 text-start">
                            <label for="Zip" class=""> XXXXX</label>
                        </div>
                        <div class="col-6  text-end mb-3">
                            <label for="Zip" class="">Company Name:</label>
                        </div>
                        <div class="col-6  text-start">
                            <label for="Zip" class="">XXXXX</label>
                        </div>
                        <div class="col-6  text-end mb-3">
                            <label for="Zip" class="">Mobile Number:</label>
                        </div>
                        <div class="col-6  text-start">
                            <label for="Zip" class="">xxxxxxxxx</label>
                        </div>
                        <div class="col-6  text-end mb-3">
                            <label for="Zip" class="">Address:</label>
                        </div>
                        <div class="col-6  text-start">
                            <label for="Zip" class="">xxxxxx</label>
                        </div>
                        <div class="col-6  text-end mb-3">
                            <label for="Zip" class="">City:</label>
                        </div>
                        <div class="col-6  text-start">
                            <label for="Zip" class="">xxxxxx</label>
                        </div>
                        <div class="col-6  text-end mb-3">
                            <label for="Zip" class="">State:</label>
                        </div>
                        <div class="col-6  text-start">
                            <label for="Zip" class="">xxxxxx</label>
                        </div>
                        <div class="col-6  text-end mb-3">
                            <label for="Zip" class="">Fax Number:</label>
                        </div>
                        <div class="col-6  text-start">
                            <label for="Zip" class="">xxxxxx</label>
                        </div>
                        <div class="col-6  text-end mb-3">
                            <label for="Zip" class="">GST No:</label>
                        </div>
                        <div class="col-6  text-start">
                            <label for="Zip" class="">xxxxxx</label>
                        </div>
                    </div>
                </form>
                <div class="d-grid gap-3 d-md-flex justify-content-md-end">
                    
                    <button type="reset" class="btn btn-reset"><i class="bi bi-arrow-counterclockwise">

                        </i> <a asp-action="SupplierList" asp-controller="Supplier">Back</a>
                    </button>

                    <!-- <button class="btn btn-primary" type="button">Save</button> -->
                </div>

            </div>
        </div>
    </div>
</div>

