<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="RootFolder" value="\\MURALI\iConnect\OSM\DailyDataLoad"/>
		<add key="RootLocalFolder" value="D:\iConnect\OSM\DailyDataLoad"/>
		<add key="ExcelConnectionString" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 12.0 Xml;HDR=YES;IMEX=1';" />

		<add key="LogsFolder" value="\\MURALI\iConnect\OSM\Logs"/>
	</appSettings>
	<connectionStrings>
		<add name="iConnectOMSConnectionString" connectionString="Server=192.168.29.130;Database=OMS;User Id = iconnectuser; Password=iconnect;"/>
	    <!--<add name="OMSConnectionString" connectionString="Data Source=DESKTOP-NL995Q1\MSSQLSERVER01;Initial Catalog=iconnect;Integrated Security=True;" 
		 providerName="System.Data.SqlClient" />-->
	</connectionStrings>
</configuration>