@model List<RMSNextGen.Models.ProductCategoryListDTO>
@{
	ViewData["Title"] = "Category List";
	Layout = "~/Views/Shared/_RMSLayout.cshtml";
}

<div class="container">
	<div class="justify-content-between align-items-center">
		@* <h3 class="text-primary">Stores - </h3> *@
		<hr class="mt-0" />
		<h4 class="text-secondary">Category/Search Category</h4>
	</div>

	<form>
		<div class="card shadow-sm p-2">
			<div class="row g-3">
				<div class="col-sm-5 mr-1 px-2">
					<label for="CategoryCode" class="form-label">Category Code</label>
					<input type="text" class="form-control" id="CategoryCode" name="CategoryCode" placeholder="Enter Store Code">
				</div>
				<div class="col-sm-5 mr-1 px-2">
					<label for="CategoryName" class="form-label">Category Name</label>
					<input type="text" class="form-control" id="CategoryName" name="CategoryName" placeholder="CategoryName">
				</div>


			</div>
		</div>
		<div class="d-flex justify-content-end gap-2 mt-3">
			<a class="btn btn-reset" asp-controller="ProductCategory" asp-action="CategoryList">
				<i class="bi bi-arrow-counterclockwise"></i>Clear
			</a>
			<button type="submit" class="btn btn-success"><i class="bi bi-search"></i> Search</button>
			<a class="btn btn-info" asp-action="AddCategory" asp-controller="ProductCategory">
				<i class="bi bi-plus-circle"></i> Add New Category
			</a>
		</div>

	
	@* <hr class="mt-0" /> *@
		<div class="table-responsive mt-2 p-2">
			<table class="table table-bordered table-hover shadow-sm">
				<thead class="table-dark">
					<tr>
						<th scope="col">S.NO</th>
						<th scope="col"> Category Code</th>
						<th scope="col">Category Name</th>
						<th scope="col">Description</th>
						<th scope="col">Status</th>
						<th scope="col" class="text-center">Actions</th>
					</tr>
				</thead>
				<tbody>
					@foreach(var item in ViewBag.Category) {

						<tr>
							<td>@item.CategoryIdPK</td>
							<td>@item.CategoryCode</td>
							<td>@item.CategoryName</td>
							<td>@item.Description</td>
							<td><a href="#" class="text-danger">Inactivate</a></td>
							<td class="text-center">
								<a asp-controller="ProductCategory" asp-action="EditCategory" class="btn btn-sm btn-warning">Edit</a>
								<a asp-controller="ProductCategory" asp-action="ViewCategory" class="btn btn-sm btn-info">View</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</form>
</div>




   