
@{
    ViewData["Title"] = "ViewCustomer";
    Layout = "~/Views/Shared/_RMSLayout.cshtml";
}
<div class="container-fluid pt-4 px-4">
    <div class="row vh-100 justify-content-center mx-0">
        <div class="col-md-6 text-center">
            <div class="row g-3">
                <form class="form-horizontal">
                    <div class="row rounded mt-5">
                        <div class="col-12  justify-content-center mb-3">
                            <h3>
                                View  Details
                            </h3>
                        </div>
                        <div class="col-6  text-end mb-3">
                            <label for="Zip" class="">Customer Code :-</label>
                        </div>
                        <div class="col-6  text-start">
                            <label for="Zip" class="">C-001</label>
                        </div>
                        <div class="col-6  text-end mb-3">
                            <label for="Zip" class="">Name :-</label>
                        </div>
                        <div class="col-6 text-start">
                            <label for="Zip" class="">Ravi</label>
                        </div>
                        <div class="col-6  text-end mb-3">
                            <label for="Zip" class="">CantactNumber :-</label>
                        </div>
                        <div class="col-6  text-start">
                            <label for="Zip" class="">8788637555</label>
                        </div>
                        <div class="col-6  text-end mb-3">
                            <label for="Zip" class="">Order#:-</label>
                        </div>
                        <div class="col-6  text-start">
                            <label for="Zip" class="">Soap</label>
                        </div>
                </form>
                <div class="d-grid gap-3 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary" asp-action="CustomerList" asp-controller="Customers">Back</button>
                    <!-- <button class="btn btn-primary" type="button">Save</button> -->
                </div>

            </div>
        </div>
    </div>
</div>


<h1>ViewCustomer</h1>

