<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="rootfolder" value="\\MURALI\iConnect\RSC\DailyDataLoad">
    </add>
    <add key="UseEF" value="true">
    </add>
  </appSettings>
  <connectionStrings>
    <add name="iconnectrscconnectionstring" connectionString="Server=192.168.29.130;Database=RSC;User Id = iconnectuser; Password=iconnect;" />
    <add name="Xlsxconnectionstring" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={customerFilePath};Extended Properties='Excel 12.0 Xml;HDR=YES;'" />
    <add name="RSCEntities" connectionString="metadata=res://*/EF.RSCModel.csdl|res://*/EF.RSCModel.ssdl|res://*/EF.RSCModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MURALI\ICONNECT;initial catalog=RSC;user id=iconnectuser;password=iconnect;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>