<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="rootfolder" value="\\MURALI\iConnect\RSC\DailyDataLoad"></add>
	</appSettings>
	<connectionStrings>
		<add name="iconnectrscconnectionstring" connectionString="Server=192.168.29.130;Database=RSC;User Id = iconnectuser; Password=iconnect;"/>
		<add name="Xlsxconnectionstring" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={customerFilePath};Extended Properties='Excel 12.0 Xml;HDR=YES;'"/>
	</connectionStrings>

</configuration>
