<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="RootFolder" value="H:\RSC\DailyDataLoad"/>
		<add key="LogsFolder" value="H:\RSC\Logs"/>
		<add key="ExcelConnectionString" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 12.0 Xml;HDR=YES;IMEX=1';" />

	</appSettings>
	<connectionStrings>
		<add name="iConnectRSCConnectionString" connectionString="Server=LAPTOP-V6JO2I48\VENIMSSQLSERVER;Database=Rsc;User Id=sa;Password=123;"/>
	</connectionStrings>
</configuration>
