@model RMSNextGen.Web.Models.ProductViewModel
@{
    ViewData["Title"] = "Add New Product";
    Layout = "~/Views/Shared/_RMSLayout.cshtml";

} 

<style>
	form-label {
		margin-left: 10px
	}
</style>

<div class="container">
	<div class="justify-content-between align-items-center">
		@* <h3 class="text-primary">Stores - </h3> *@
		<hr class="mt-0" />
		<h4 class="text-secondary">Products/AddProduct</h4>
	</div>

	<form method="post" asp-action="AddNewProduct" asp-controller="Product">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="card shadow-sm p-2">
			<div class="row g-3">
				<div class="col-sm-5 mr-1">
					<label asp-for="ProductCode" class="form-label">ProductCode</label>
					<input type="text" asp-for="ProductCode" class="form-control" id="ProductCode" placeholder="Enter Product Code">
					<span asp-validation-for="ProductCode" class="text-danger"></span>
				</div>
				<div class="col-sm-5 mr-1">
					<label style="margin-left:5px" asp-for="ProductName" class="form-label">ProductName</label>
					<input type="text" asp-for="ProductName" class="form-control" id="ProductName" placeholder="Enter  ProductName " style="margin-left: 12px;" />
					<span asp-validation-for="ProductName" class="text-danger"></span>


				</div>
				<div class="col-sm-5 mr-1">
					<label asp-for="Category" class="form-label">Category</label>
					<select class="form-select" id="Category" asp-for="Category">
						<option selected>Select Category</option>
						<option>Dairy Products</option>
						<option>Vegatables</option>
						<option>Electroincs</option>
						<option>Grocerys</option>
					</select>
				</div>
				<div class="col-sm-5 mr-1">
					<label asp-for="PricePerUnit" class="form-label">PricePerUnit</label>
					<input type="text" asp-for="PricePerUnit" class="form-control" id="PricePerUnit" placeholder="PricePerUnit" style="margin-left:12px"></input>
					<span asp-validation-for="PricePerUnit" class="text-danger"></span>
				</div>
				<div class="col-sm-5 mr-1">
					<label asp-for="ThresholdLimit" class="form-label">ThresholdLimit</label>
					<input type="text" asp-for="ThresholdLimit" class="form-control" id="ThresholdLimit" placeholder="Enter ThresholdLimit" style="margin-left: 12px;">
					<span asp-validation-for="ThresholdLimit" class="text-danger"></span>
				</div>
				<div class="col-sm-5 mr-1">
					<label asp-for="UnitofMeasurement" class="form-label">UnitofMeasurement</label>
					<select class="form-select" asp-for="UnitofMeasurement" id="UnitofMeasurement">
						<option selected>Select Unit</option>
						<option>Kgs</option>
						<option>Liters</option>
						<option>Pieces</option>
					</select>
				</div>
				
			</div>
		</div>
		<div class="d-flex justify-content-end gap-2 mt-3">
			<button type="reset" class="btn btn-reset" id="btnback"><i class="bi bi-arrow-counterclockwise"></i> <a asp-action="ProductList" asp-controller="Product">Back</a></button>
			<button type="submit" class="btn btn-success"><i class="bi bi-search"></i> Save</button>

		</div>
		@* @if (ViewBag.Response == false)
		{
		<div>
			<label style="color:red">@ViewBag.Message</label>
		</div>
		} *@

	</form>
</div>

@if (ViewBag.Response == true)
{
	<script>
		alert("Product Saved Successfully");
		window.location.href = "/Product/ProductList";
		//document.getElementById('btnback').click();
	</script>
}
else if (ViewBag.Response == false)
{
	<script>
		alert(" Unable to Save Product details");

	</script>

}
else
{
	//do nothing 
}