
@{
    ViewData["Title"] = "ViewProduct";
    Layout = "~/Views/Shared/_RMSLayout.cshtml";

}

<div class="container-fluid pt-4 px-4">
    <div class="row vh-100 justify-content-center mx-0">
        <div class="col-md-6 text-center">
            <div class="row g-3">
                <form class="form-horizontal" >
                    <div class="row rounded mt-5">
                        <div class="col-12  justify-content-center mb-3">
                            <h3>
                                View Product Details
                            </h3>
                        </div>
                        <div class="col-6  text-end mb-3">
                            <label for="Zip" class="">Product Code :-</label>
                        </div>
                        <div class="col-6  text-start">
                            <label for="Zip" class="">PR001</label>
                        </div>
                        <div class="col-6  text-end mb-3">
                            <label for="Zip" class="">Product Name :-</label>
                        </div>
                        <div class="col-6 text-start">
                            <label for="Zip" class="">Rice</label>
                        </div>
                        <div class="col-6  text-end mb-3">
                            <label for="Zip" class="">Caterory :-</label>
                        </div>
                        <div class="col-6  text-start">
                            <label for="Zip" class="">Grocery</label>
                        </div>
                        <div class="col-6  text-end mb-3">
                            <label for="Zip" class="">Quanity :-</label>
                        </div>
                        <div class="col-6  text-start">
                            <label for="Zip" class="">50kgs</label>
                        </div>
                        <div class="col-6  text-end mb-3">
                            <label for="Zip" class="">Price Per Unit :-</label>
                        </div>
                        <div class="col-6  text-start">
                            <label for="Zip" class="">50.09</label>
                        </div
                        
                        
                        
                        
                </form>
                <div class="d-grid gap-3 d-md-flex justify-content-md-end">
                     <button type="reset" class="btn btn-reset"><i class="bi bi-arrow-counterclockwise"></i> <a asp-action="ProductList" asp-controller="Product">Back</a></button>
    
                    <!-- <button class="btn btn-primary" type="button">Save</button> -->
                </div>

            </div>
        </div>
    </div>
</div>

