<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
	<appSettings>
		<add key="RootFolder" value="D:\DailyDataLoad"/>
		<add key="LogsFolder" value="\\MURALI\iConnect\RSC\Logs"/>
		<add key="RSCConnectionString" value="Server=REVANTH;Database=RSCLOCAL;User Id = sa; Password=123;"/>
		<add key="ExcelConnectionString" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 12.0 Xml;HDR=YES;IMEX=1';"/>
	</appSettings>
	<connectionStrings>
		<add name="RSCConnectionString" connectionString="Server=REVANTH;Database=RSCLOCAL;User Id = sa; Password=123;"/>
	</connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
