<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="RootFolder" value="\\MURALI\iConnect\RSC\DailyDataLoad"/>
		<add key ="UseEF" value="true"/>
	</appSettings>
	<connectionStrings>
		<add name="iConnectRSCConnectionString" connectionString="Server=192.168.29.130;Database=RSC;User Id = iconnectuser; Password=iconnect;"/>
		<add name="RSCEntities" connectionString="metadata=res://*/EF.RSCModel.csdl|res://*/EF.RSCModel.ssdl|res://*/EF.RSCModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MURALI\ICONNECT;initial catalog=RSC;user id=iconnectuser;password=iconnect;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>