@{
	ViewData["Title"] = "Store List";
	Layout = "~/Views/Shared/_RMSLayout.cshtml";
}
<div class="container">
	<div class="justify-content-between align-items-center">
		@* <h3 class="text-primary">Stores - </h3> *@
		<hr class="mt-0" />
		<h4 class="text-secondary">Stores/Search Stores</h4>
	</div>

	<form method="post" asp-action="SearchStores" asp-controller="Store">
		<div class="card shadow-sm p-2">
			<div class="row g-3">
				<div class="col-sm-5 mr-1 px-2">
					<label for="StoreCode" class="form-label">Store Code</label>
					<input type="text" class="form-control" id="StoreCode" name="StoreCode" placeholder="Enter Store Code">
				</div>
				<div class="col-sm-5 mr-1 px-2">
					<label for="Location" class="form-label">Location</label>
					<input type="text" class="form-control" id="Location" name="Location" placeholder="Enter Location">
				</div>
				<div class="col-sm-5 mr-1 px-2">
					<label for="City" class="form-label">City</label>
					<select class="form-select" id="City" name="City">
						<option selected>Select</option>
						<option>Hyderabad</option>
						<option>Bangalore</option>
						<option>Warangal</option>
						<option>Karimnagar</option>
						<option>Vijayawada</option>
					</select>
				</div>
				<div class="col-sm-5 mr-1 px-2">
					<label for="State" class="form-label">State</label>
					<select class="form-select" id="State" name="State">
						<option selected>Select</option>
						<option>TG</option>
						<option>AP</option>
					</select>
				</div>
			</div>
		</div>
		<div class="d-flex justify-content-end gap-2 mt-3">
			<button type="reset" class="btn btn-reset"><i class="bi bi-arrow-counterclockwise"></i> Clear</button>
			<button type="submit" class="btn btn-success"><i class="bi bi-search"></i> Search</button>
			<a class="btn btn-info" asp-action="AddNewStore" asp-controller="Store">
				<i class="bi bi-plus-circle"></i> Add New Store
			</a>
		</div>

	</form>
	@* <hr class="mt-0" /> *@
	<div class="table-responsive mt-2 p-2">
		<table class="table table-bordered table-hover shadow-sm">
			<thead class="table-dark">
				<tr>
					<th scope="col">S.NO</th>
					<th scope="col">Store Code</th>
					<th scope="col">Location</th>
					<th scope="col">City</th>
					<th scope="col">State</th>
					<th scope="col">Status</th>
					<th scope="col" class="text-center">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>SC001</td>
					<td>Some Location</td>
					<td>Hyderabad</td>
					<td>TG</td>
					<td><a href="#" class="text-danger">Inactivate</a></td>
					<td class="text-center">
						<a asp-controller="Store" asp-action="EditStore" class="btn btn-sm btn-warning">Edit</a>
						<a asp-controller="Store" asp-action="ViewStore" class="btn btn-sm btn-info">View</a>
					</td>
				</tr>
				<tr>
					<td>2</td>
					<td>SC002</td>
					<td>Some Location</td>
					<td>Bangalore</td>
					<td>KA</td>
					<td><a href="#" class="text-success">Activate</a></td>
					<td class="text-center">
						<a asp-controller="Store" asp-action="EditStore" class="btn btn-sm btn-warning">Edit</a>
						<a asp-controller="Store" asp-action="ViewStore" class="btn btn-sm btn-info">View</a>
					</td>
				</tr>
				<tr>
					<td>3</td>
					<td>SC003</td>
					<td>Some Location</td>
					<td>Warangal</td>
					<td>TG</td>
					<td><a href="#" class="text-danger">Inactivate</a></td>
					<td class="text-center">
						<a asp-controller="Store" asp-action="EditStore" class="btn btn-sm btn-warning">Edit</a>
						<a asp-controller="Store" asp-action="ViewStore" class="btn btn-sm btn-info">View</a>
					</td>
				</tr>
				<tr>
					<td>4</td>
					<td>SC004</td>
					<td>Some Location</td>
					<td>Warangal</td>
					<td>TG</td>
					<td><a href="#" class="text-danger">Inactivate</a></td>
					<td class="text-center">
						<a asp-controller="Store" asp-action="EditStore" class="btn btn-sm btn-warning">Edit</a>
						<a asp-controller="Store" asp-action="ViewStore" class="btn btn-sm btn-info">View</a>
					</td>
				</tr>
				<tr>
					<td>5</td>
					<td>SC005</td>
					<td>Some Location</td>
					<td>Warangal</td>
					<td>TG</td>
					<td><a href="#" class="text-danger">Inactivate</a></td>
					<td class="text-center">
						<a asp-controller="Store" asp-action="EditStore" class="btn btn-sm btn-warning">Edit</a>
						<a asp-controller="Store" asp-action="ViewStore" class="btn btn-sm btn-info">View</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

