
CREATE TABLE [dbo].[Role](
	[RoleIdPk] INT PRIMARY KEY IDENTITY(1,1) NOT NULL,
	[RoleCode] VARCHAR(45)   NOT NULL,
	[RoleName] VARCHAR(64) NOT NULL,
	[Description] VARCHAR(max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
