<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="UseEf" value="true" />
    <add key="RootFolder" value="H:\RSC\DailyDataLoad" />
    <add key="LogsFolder" value="H:\RSC\Logs" />
    <add key="ExcelConnectionString" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 12.0 Xml;HDR=YES;IMEX=1';" />
  </appSettings>
  <connectionStrings>
    <add name="iConnectRSCConnectionString" connectionString="Server=LAPTOP-V6JO2I48\VENIMSSQLSERVER;Database=Rsc;User Id=sa;Password=123;" />
	  
	<add name="RscEntities" connectionString="metadata=res://*/EF.Model1.csdl|res://*/EF.Model1.ssdl|res://*/EF.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-V6JO2I48\VENIMSSQLSERVER;initial catalog=Rsc;user id=sa;password=123;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  
</configuration>