@model RMSNextGen.Web.Models.EmployeeViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
	ViewData["Title"] = "AddNew Employee";
	Layout = "~/Views/Shared/_RMSLayout.cshtml";
}
<div class="container">
	<div class="justify-content-between align-items-center">
		@* <h3 class="text-primary">Employee - </h3> *@
		<hr class="mt-0" />
		<h4 class="text-secondary">Employee/Add New Employee</h4>
	</div>

	<form method="post" >
		<div class="card shadow-sm p-2">
			<div class="row g-3">
				<div class="col-sm-5 mr-1 px-2">
					<label for="EmployeeCode" class="form-label">Employee Code</label>
					<input type="text" class="form-control"  asp-for="EmployeeCode">
				</div>
				<div class="col-sm-5 mr-1 px-2">
					<label for="FirstName" class="form-label">First Name</label>
					<input type="text" class="form-control"  asp-for="EmployeeFirstName">
				</div>
				<div class="col-sm-5 mr-1 px-2">
					<label for="LastName" class="form-label">Last Name</label>
					<input type="text" class="form-control" asp-for="EmployeeLastName">
				</div>
				<div class="col-sm-5 mr-1 px-2">
					<label for="Email" class="form-label">Email</label>
					<input type="text" class="form-control" asp-for="Email">
				</div>
				
				<div class="col-sm-5 mr-1 px-2">
					<label for="MobileNumber" class="form-label">Mobile Number</label>
					<input type="text" class="form-control" asp-for="MobileNumber">
				</div>
				<div class="col-sm-5 mr-1 px-2">
					<label for="Department" class="form-label">Department</label>
					<select class="form-select" asp-for="Department" asp-items="ViewBag.Departments">
						<option value="">Select</option>
					</select>
				</div>
			
				<div class="col-sm-5 mr-1 px-2">
					<label for="Designation" class="form-label">Designation</label>
					<select class="form-select" asp-for="Designation">
						<option selected>Select</option>
						<option>Manager</option>
						<option>Sales</option>
					</select>
				</div>
				<div class="col-sm-5 mr-1 px-2">
					<label for="PersonalEmail" class="form-label">PersonalEmail</label>
					<input type="text" class="form-control" asp-for="PersonalEmail">
				</div>
				<div class="col-sm-5 mr-1 px-2">
					<label for="Gender" class="form-label">Gender</label>
					<select class="form-select" asp-for="Gender">
						<option selected>Select</option>
						<option>Female</option>
						<option>Male</option>
					</select>
				</div>
				<div class="col-sm-5 mr-1 px-2">
					<label for="SalaryCTC" class="form-label">SalaryCTC</label>
					<input type="text" class="form-control"  asp-for="SalaryCTC">
				</div>
				<div><h2>Permanent Address</h2></div>
				<div class="col-sm-5 mr-1 px-2">
					<label for="PermanentAddressline1" class="form-label">Addressline1</label>
					<textarea type="text" class="form-control" asp-for="PermanentAddressline1"></textarea>
				
				</div>
				<div class="col-sm-5 mr-1 px-2">
					<label for="PermanentAddressline2" class="form-label">Addressline2</label>
					<textarea type="text" class="form-control" asp-for="PermanentAddressline2"></textarea>

				</div>
				<div class="col-sm-5 mr-1 px-2">
					<label for="PermanentCity" class="form-label">City</label>
					<input type="text" class="form-control" asp-for="PermanentCity">
				</div>
				<div class="col-sm-5 mr-1 px-2">
					<label for="PermanentState" class="form-label">State</label>
					<input type="text" class="form-control" asp-for="PermanentState">
				</div>
				<div class="col-sm-5 mr-1 px-2">
					<label for="PermanentPincode" class="form-label">Pincode</label>
					<input type="text" class="form-control" asp-for="PermanentPincode">
				</div>
				<div><h2>Current Address</h2></div>
				<div class="col-sm-5 mr-1 px-2">
					<label for="CurrentAddressline1" class="form-label">Addressline1</label>
					<textarea type="text" class="form-control"  asp-for="CurrentAddressline1"></textarea>

				</div>
				<div class="col-sm-5 mr-1 px-2">
					<label for="CurrentAddressline2" class="form-label">Addressline2</label>
					<textarea type="text" class="form-control"  asp-for="CurrentAddressline2"></textarea>

				</div>
				<div class="col-sm-5 mr-1 px-2">
					<label for="CurrentCity" class="form-label">City</label>
					<input type="text" class="form-control"  asp-for="CurrentCity">
				</div>
				<div class="col-sm-5 mr-1 px-2">
					<label for="CurrentState" class="form-label">State</label>
					<input type="text" class="form-control" asp-for="CurrentState">
				</div>
				<div class="col-sm-5 mr-1 px-2">
					<label for="CurrentPincode" class="form-label">Pincode</label>
					<input type="text" class="form-control"  asp-for="CurrentPincode">
				</div>
			</div>
		</div>
		<div class="d-flex justify-content-end gap-2 mt-3">
			<button type="button" class="btn btn-reset"><i class="bi bi-arrow-counterclockwise"></i> Back</button>
			<button type="submit" class="btn btn-success"><i class="bi bi-search"></i> Save</button>	
		</div>

	</form>
</div>
@if (ViewBag.Response == true)
{
	<script>
		alert("Employee Added Successfully");
		window.location.href = "/Employee/EmployeeList";
	</script>
}
else if (ViewBag.Response == false)
{
<select>
   alert("Unable to save Employee Details");
</select>

}