@{
    ViewData["Title"] = "View Employee";
    Layout = "~/Views/Shared/_RMSLayout.cshtml";
 
}
 
<div class="container-fluid pt-4 px-4">
<div class="row vh-100 justify-content-center mx-0">
<div class="col-md-6 text-center">
<div class="row g-3">
<form class="form-horizontal">
<div class="row rounded mt-5">
<div class="col-12  justify-content-center mb-3">
<h3>
                                View Employee Details
</h3>
</div>
<div class="col-6  text-end mb-3">
<label for="Zip" class="">Employee Code :-</label>
</div>
<div class="col-6  text-start">
<label for="Zip" class="">Emp001</label>
</div>
<div class="col-6  text-end mb-3">
<label for="Zip" class="">Employee Name :-</label>
</div>
<div class="col-6 text-start">
<label for="Zip" class="">Raju</label>
</div>
<div class="col-6  text-end mb-3">
<label for="Zip" class="">Gender :-</label>
</div>
<div class="col-6  text-start">
<label for="Zip" class="">Male</label>
</div>
<div class="col-6  text-end mb-3">
<label for="Zip" class="">Salary :-</label>
</div>
<div class="col-6  text-start">
<label for="Zip" class="">$5.00</label>
</div>
<div class="col-6  text-end mb-3">
<label for="Zip" class="">Role :-</label>
</div>
<div class="col-6  text-start">
<label for="Zip" class="">Manager</label>
</div>
                        <div class="col-6  text-end mb-3">
                            <label for="Zip" class="">Store Code :-</label>
                        </div>
                        <div class="col-6  text-start">
                            <label for="Zip" class="">ST001</label>
                        </div>
                        <div class="col-6  text-end mb-3">
                            <label for="Zip" class="">Contact Number :-</label>
                        </div>
                        <div class="col-6  text-start">
                            <label for="Zip" class="">78952</label>
                        </div>
                        <div class="col-6  text-end mb-3">
                            <label for="Zip" class="">Status :-</label>
                        </div>
                        <div class="col-6  text-start">
                            <label for="Zip" class="">Active</label>
                        </div>



</form>
<div class="d-grid gap-3 d-md-flex justify-content-md-end">
                    <a href="EmployeeList"><button type="button" class="btn btn-reset"><i class="bi bi-arrow-counterclockwise"></i> Back</button></a>
                    <!-- <button class="btn btn-primary" type="button">Save</button> -->
</div>
 
            </div>
</div>
</div>
</div>
 