@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	Layout = "_LoginLayout";
}


<div>
	<form method="post" asp-controller="Login" asp-action="Login">
		<div>
			<label>Email/Phone:</label>
			<input type="text" id="txtEmail" name="txtEmail" class="input-control" />
		</div>
		<div>
			<label>Password:</label>
			<input type="password" id="txtPassword" name="txtPassword" class="input-control" />
		</div>
		<div>
			<a asp-controller="Login" asp-action="SendOtp">Forgot Password</a>
		</div>
		<div>
			<button type="submit"  id="btnLogin"  class="btn-login" asp-action="StoreList" asp-controller="Store"/><i class="bg-info bi-search"></i>Login -></button>
		</div>
	</form>
</div>