<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="UseEntityFramework" value="true" />
		<add key="RootFolder" value="\\MURALI\iConnect\OSM\DailyDataLoad"/>
		<add key="RootLocalFolder" value="D:\iConnect\OSM\DailyDataLoad"/>
		<add key="ExcelConnectionString" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 12.0 Xml;HDR=YES;IMEX=1';" />

		<add key="LogsFolder" value="\\MURALI\iConnect\OSM\Logs"/>
	</appSettings>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<connectionStrings>
		<add name="iConnectOMSConnectionString" connectionString="Server=192.168.29.130;Database=OMS;User Id = iconnectuser; Password=iconnect;"/>
		<add name="Arjun_OMSDBEntities1" connectionString="metadata=res://*/EntityFramework.ArjunOMSEntity.csdl|res://*/EntityFramework.ArjunOMSEntity.ssdl|res://*/EntityFramework.ArjunOMSEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.29.130;initial catalog=Arjun_OMSDB;persist security info=True;user id=iconnectuser;password=iconnect;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>